 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-lg-4 col-lg-offset-2">
                    <p>Jibber is the best framework for testing JSON on iOS.</p>
                </div> -->
                <div class="col-lg-12 text-center">
                    <p>Jibber makes network debugging a breeze. Simply drag and drop the provided framework into your Xcode project and follow the instructions. </p>

                    <p> You’ll be able to view both request and response parameters on your Mac in real time! If you work with JSON, we've got you covered with syntax highlighting too.</p>
                </div>
            </div>
        </div>
    </section>