 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jibber is the best framework for testing JSON on iOS.</p>
                </div>
                <div class="col-lg-4">
                    <p>Don't make your back-end guy your slave. Mock your own endpoints today!</p>
                </div>
            </div>
        </div>
    </section>