    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive header-icon" src="{{ "/img/jibber/icon.png" | prepend:site.baseurl }}" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.header_title }}</span>
                        <span class="skills">iOS, meet JSON.</span>
                        <br>
                        <br>
                        <span class="skills">A new way to debug.</span>
                        <div class="get-jibber-download-container">
                            <br>
                            <a href="http://dl.devmate.com/tools.rebel.jibber/Jibber-NetworkDebugger.zip" class="btn btn-lg btn-outline">
                                <i class="fa fa-cloud-download"></i> Download
                            </a>
                            <a href="https://sites.fastspring.com/rebel/instant/jibber" class="btn btn-lg btn-outline">
                                <i class="fa fa-download"></i> Purchase
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>