    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive header-icon" src="img/icon-512.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.header_title }}</span>
                        <span class="skills">iOS, meet JSON.</span>
                        <br>
                        <br>
                        <span class="skills">Shit's about to go down.</span>
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <br>
                            <a href="#" class="btn btn-lg btn-outline">
                                <i class="fa fa-download"></i> Download
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>