 <!-- Documentation Section -->
    <section class="success" id="documentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Documentation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <!-- Make a list of FAQs, and each is a link -->
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a bunch of free multi-disciplinary individuals comprising of software and hardware engineers, designers and mobile specialists. </p>
                </div>
                <div class="col-lg-4">
                    <p>Each of us with years of experience working in this line, you can be assured you will always be covered by the best.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>