 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-lg-4 col-lg-offset-2">
                    <p>Jibber is the best framework for testing JSON on iOS.</p>
                </div> -->
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>Jibber was born because working with JSON data in Xcode is incredibly frustrating. We set out to build a tool that would integrate seamlessly into all your projects and show you the information you need when you need it. </p>
                    <p>Jibber uses Bonjour to connect without configuration to your devices and the iPhone Simulator, and works with any networking library or framework using NSURLSession APIs.</p>
                </div>
            </div>
        </div>
    </section>