.btn-outline {
  border: $site_color_dark;
  background: $site_color_dark;
	margin: 10px 20px;
	width: 180px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  background: $site_color_dark;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background: $site_color_dark;
  border-color: $site_color_dark;
  transition: 0.3s;

}

.btn-success {
  width: 150px;
  background: $site_color_dark;
  transition: 0.3s;
  text-align: center;
}

.modal-body button {
  margin-top: 35px; 
}