.list-group {
  color: #000000;
  text-decoration: underline;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section h6 {
	text-transform: none;
	font-size: 14px;
}

section a {
    color: #2b77b6;
}

a:hover {
	color: #000000;
	text-decoration: none;
}