body {
  font-family: "Helvetica Neue";
}

h1, h2, h3, h4, h5, h6 {
  color: $site_color_main;
}

p {
  line-height: 1.75em;
}

.list-group {
  color: #000000;
  text-decoration: underline;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section h6 {
	text-transform: none;
	font-size: 14px;
}

section a {
    color: #2b77b6;
}

a:hover {
	color: #000000;
	text-decoration: none;
}
