 <!-- Documentation Section -->
    <section class="success" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQ</h2>
                    <hr class="star-primary">
                    <div class="col-lg-6 col-lg-offset-3">
<!--                     <p>This FAQ is a work in progress.</p>
                    <p>We'll be adding the more common queries as soon as possible. </p> -->
                </div>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
            <!-- Make a list of FAQs, and each is a link -->
            <br>
            <br>
            <h4>Does it work with AFNetworking, Alamofire, etc? </h4>
            <p>Yes, Jibber interfaces with native API at the NSURLSession level so any frameworks built on top of that would automatically integrate with Jibber’s framework.</p>
            <br>
            <h4>Does Jibber work on device or on the iPhone Simulator? </h4>
            <p>Jibber works on both devices and the iPhone Simulator. It even works when your device is not connected via cable to your Mac!</p>
            <br>
            <h4>Does Jibber only work with JSON requests? </h4>
            <p>No, Jibber also displays other types of HTTP requests but we provide syntax highlighting support for your JSON requests.</p>
 
              <!--  <ul class="list-group">
                    <li><a href="/introduce/" class="">Introducing Jibber</a></li>
                    <li><a href="/issues/" class="">Known Issues</a></li>
                </ul> -->
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>