 <!-- Introduction Section -->
    <section class="success" id="introducing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Introducing Jibber</h2>
                    <hr class="star-primary">
                    <div class="col-lg-6 col-lg-offset-3">
                    <h6>Jibber was born out of frustration with working with JSON data. It was extremely infurating to debug errors using Xcode's small console window. We envisioned a product that would seamlessly integrate into all your projects and allow you to work with JSON easily.</h6>

                    <h6> Jibber works by using Bonjour to establish a <a href="//en.wikipedia.org/wiki/Zero-configuration_networking"> "Zeroconf" </a>. Therefore we are able to establish the port number that we can use to connect to your phone over the local wifi and thus the Mac client is able to connect and receive the network requests that you are making </h6>

                    <h6> We use <a href="//nshipster.com/method-swizzling/"> "method swizzling" </a> in order to 'hijack' the network requests that you make through NSURLSessionTasks. This we ensure that we are able to cover almost every body as this would work even with the popular <a href="//afnetworking.com"> "AFNetworking" </a> class as it uses NSURLSessionTask underneath. </h6>
                </div>
                </div>
            </div>
        </div>
    </section>