 <!-- Introduction Section -->
    <section class="introducing" id="introducing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Introducing Jibber</h2>
                    <hr class="star-primary">
                    <div class="col-lg-8 col-lg-offset-2">
                    <p>Please leave us some feedback so that we can get to the issues!</p>
                </div>
                </div>
            </div>
        </div>
    </section>